<div class="login-container">
  <form class="login-content">
    <h3>Esegui l'accesso</h3>
    <div class="username">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
    </div>
    <div class="password">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <input class="login-button" type="submit" value="Entra" />
  </form>
  <h4 routerLink="/" class="login-ospite">Accedi come ospite</h4>
</div>
