<h1 class="title">Store disponibili</h1>
<div class="container-store" *ngIf="!isLoading; else spinner">
  <div class="container-list">
    <app-store-item [store]="store" *ngFor="let store of storeList; index as i">
    </app-store-item>
  </div>
  <div style="text-align: center" *ngIf="!storeList?.length">
    <h2>
      Non e presente alcuno store! <br />
      Per favore aggiungine uno.
    </h2>
    <p style="padding: 0 10px" *ngIf="!auth.person.isLogged">
      Se desidrei cominciare ad aggiungere qualche store loggati <br />
      Inserisci le cedenziali <b> admin admin </b>
    </p>
  </div>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<button *ngIf="isLogged" routerLink="/add-new-store" class="addStoreBtn">
  Aggiungi un nuovo Store
</button>
