h1 {
  text-align: center;
}

.container-store {
  height: 400px;
  overflow-y: auto;

  .container-list {
    display: flex;
  }
}

.addStoreBtn {
  height: 40px;
  width: 200px;
  margin: 50px calc(50% - 100px);
  border-radius: 10px;
  border: none;
  background-color: #faca93;
  color: white;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    filter: brightness(0.95);
    transform: scale(1.03);
  }
}
