<form (submit)="addProduct()">
  <h4>Aggiungi un prodotto:</h4>
  <input
    [(ngModel)]="newProduct.title"
    type="text"
    name="title"
    id="title"
    placeholder="Prodotto"
  />
  <input
    [(ngModel)]="newProduct.description"
    type="text"
    name="descrizione"
    id="descrizione"
    placeholder="Descrizione"
  />
  <div>
    <label for="prezzo">Prezzo: </label>
    <input
      [(ngModel)]="newProduct.price"
      type="number"
      name="prezzo"
      id="prezzo"
      [min]="0"
    />
  </div>
  <input type="submit" value="Aggiungi" />
</form>
