<!-- TODO: Creare condizione che mi mostra l' header solo nel caso in cui la location e' la dashboard o la pagina dello store -->

<!-- HEADER -->
<div class="header">
  <h1 routerLink="/">LOGO</h1>
  <div *ngIf="auth.person.isLogged">
    <img src="https://picsum.photos/100/100?7" alt="pic profile" />
    <h2>Ciro Esposito</h2>
    <p (click)="logout()" routerLink="/login" class="logout">Logout</p>
  </div>
  <h2 class="login" routerLink="/login" *ngIf="!auth.person.isLogged">Login</h2>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<div
  [ngClass]="{ 'show-poupup-container': poupup.isVisible }"
  class="poupup-container"
  style="z-index: 3"
>
  <app-alert-poupup object="store"></app-alert-poupup>
</div>
