.header {
  display: flex;
  background-color: #faca93;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  border-radius: 20px;

  h1 {
    cursor: pointer;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 40px;
      margin: 0 10px;

      border-radius: 50%;
      cursor: pointer;

      &:hover {
        filter: brightness(0.95);
      }
    }
  }

  .login {
    cursor: pointer;
  }
}

.content {
  border: dotted 1px #1e1e1e;
  /*height: 80vh;*/
}
