.store-page {
  display: flex;
  flex-direction: column;
  padding: 20px;

  h2 {
    margin-bottom: 0;
  }

  .store-detail {
    border: solid #faca93 5px;
    background-color: #e3e4dd;
    padding: 20px;
    border-radius: 20px;

    h4 {
      font-weight: 400;
    }

    h3 {
      text-align: end;
    }
  }
}
