<div class="info-product">
  <div *ngIf="!editMode; else editContainer">
    <h3>ID: {{ product.idProduct }}</h3>
    <h1>{{ product.title }}</h1>
    <h2>{{ product.description }}</h2>
    <h2>$ {{ product.price }},00</h2>
  </div>
  <ng-template #editContainer>
    <h2>Modifica il prodotto</h2>
    <form (submit)="editProduct()">
      <input
        type="text"
        name="title"
        [(ngModel)]="inputTitle"
        value="{{ product.title }}"
      />
      <input
        type="text"
        name="description"
        [(ngModel)]="inputDescription"
        value="{{ product.description }}"
      />
      <input
        [min]="0"
        type="number"
        name="price"
        [(ngModel)]="inputPrice"
        value="{{ product.price }}"
      />
      <button
        [disabled]="
          inputTitle === product.title &&
          inputDescription === product.description &&
          inputPrice === product.price
        "
        type="submit"
      >
        Conferma
      </button>
    </form>
  </ng-template>
  <button *ngIf="isLogged" (click)="changeMode()" class="edit-button">
    {{ !editMode ? "✏️" : "❌" }}
  </button>
</div>
